<section id="shop-by-vibe">
  <div class="vibe-collection w-full pt-[65px] pb-0 px-[11px] bg-[#f4f0ec] md:px-[46px] md:pt-[74px] md:pb-[137px]">
    <h1 class="text-[30px] leading-[37px] uppercase text-right font-compacta font-normal m-0 pr-0 md:pr-[38px] md:text-[45px] md:leading-[55px]">
      {{ section.settings.heading }}
    </h1>
    <div class="collection-grid mt-[22px] md:mt-[71px]">
      <ul class="flex justify-between flex-wrap px-[15px] md:px-0">
        {% for block in section.blocks %}
          <li class="w-[47%] box-border relative mb-[23px] md:w-[15%] md:mb-0">
            <a class="" href="#">
              <div class="group w-full h-fit ">
                <div class="image relative w-full overflow-hidden">
                  <img class="w-full block" src="{{block.settings.image | img_url:'master'}}" alt="" loading="lazy">
                  <span
                    class="absolute w-full h-full bg-[#ff45d6] top-0 left-0 bottom-0 right-0 opacity-0 transition-all duration-300 block group-hover:opacity-20"
                  ></span>
                </div>
                <h3 class="w-full flex justify-center items-center text-[34px] leading-[43.84px] text-[#f3f0eb] font-compacta font-normal uppercase absolute left-[50%] top-[50%] -translate-x-1/2 -translate-y-1/2 2xl:text-[50px] 2xl:leading-[62.13px]">
                  {{ block.settings['col-heading'] }}
                </h3>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Shop by Vibe",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "name": "Shop by Vibe",
      "type": "shopbyvibe",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Main Image"
        },
        {
          "type": "text",
          "id": "col-heading",
          "label": "Collection Heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop by Vibe",
      "settings": {}
    }
  ]
}
{% endschema %}
